<!--上传装修材料-->
<div class="container" ng-controller="materialItemController">
    <h1>上传装修材料</h1>
    <form ng-submit="submit()" enctype="multipart/form-data">
      
      <div class="form-group">
        <label for="">选择材料商</label>
        <select class="form-control" ng-model="blah" ng-options="name for name in materialItem.name"></select>
      </div>
      <!-- 1 -->
      <div class="form-group">
        <label for="">🚩材料类别 1</label>
        <input type="text" class="form-control" ng-model="materialItem.firstCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 1</label>
        <input type="file" class="form-control" id="materialItem-file-1" multiple="true" ng-model="materialItem.file">
      </div>
      <!-- 2 -->
      <div class="form-group">
        <label for="">🚩材料类别 2</label>
        <input type="text" class="form-control" ng-model="materialItem.secondCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 2</label>
        <input type="file" class="form-control" id="materialItem-file-2" multiple="true" ng-model="materialItem.file">
      </div>
      <!-- 3 -->
      <div class="form-group">
        <label for="">🚩材料类别 3</label>
        <input type="text" class="form-control" ng-model="materialItem.thirdCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 3</label>
        <input type="file" class="form-control" id="materialItem-file-3" multiple="true" ng-model="materialItem.file">
      </div>
      <!-- 4 -->
      <div class="form-group">
        <label for="">🚩材料类别 4</label>
        <input type="text" class="form-control" ng-model="materialItem.fourthCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 4</label>
        <input type="file" class="form-control" id="materialItem-file-4" multiple="true" ng-model="materialItem.file">
      </div>
      <!-- 5 -->
      <div class="form-group">
        <label for="">🚩材料类别 5</label>
        <input type="text" class="form-control" ng-model="materialItem.fifthCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 5</label>
        <input type="file" class="form-control" id="materialItem-file-5" multiple="true" ng-model="materialItem.file">
      </div>
      <!-- 6 -->
      <div class="form-group">
        <label for="">🚩材料类别 6</label>
        <input type="text" class="form-control" ng-model="materialItem.sixthCategory">
      </div>
      <div class="form-group">
        <label for="">上传材料类别 6</label>
        <input type="file" class="form-control" id="materialItem-file-6" multiple="true" ng-model="materialItem.file">
      </div>
     
        <div class="form-group">
            <button class="btn btn-primary form-control">提交</button>
        </div>
    </form>

  </div>
  