<!--上传产品-->
<div class="container" ng-controller="mainController">
    <h1>上传产品</h1>
    <form ng-submit="submit()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">公司编号</label>
            <input type="text" class="form-control" ng-model="product._creator">
        </div>
        <div class="form-group">
            <label for="">产品标题</label>
            <input type="text" class="form-control" ng-model="product.title">
        </div>
        <div class="form-group">
            <label for="">产品照片</label>
            <input type="file" class="form-control" id="product-file" multiple="multiple" ng-model="product.file">
        </div>
        <div class="form-group">
            <label for="">产品简介/文章</label>
            <trix-editor angular-trix ng-model="product.description"></trix-editor>
            <div>{{product.description}}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control">提交</button>
        </div>
    </form>
</div>